# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyproj
*.pycproj
*.pyt
*.pyi
*.pyo
*.pyc
*.pyclass
*.pyo
*.pyc
*.pyd
*.db
*.sqlite3
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.mp3
*.wav
*.ogg
*.zip
*.tar
*.gz
*.tgz
*.bz2
*.xz
*.rar
*.tar.gz
*.tar.xz
*.tar.bz2
*.swp
*.log
*.tmp
*.out
*.md
*.html
*.pdf
*with_labs.pkl
*.ini
*.cfg
*.conf
*.env
*.env.*
*.DS_Store
*.idea/
.vscode/
/build/
/dist/
/*.egg-info/
/venv/
.env/
*.pytest_cache/
.ipynb_checkpoints/
